<!DOCTYPE html>
<html>
<head>
	<title>Register Data</title>
</head>
<body>
      <form action="Register">
      	    <table align="center" border="3">
                      <tr>
      	    	    	<td>Fname</td>
      	    	    	<td><input type="text" name="Fname"></td>
      	    	    </tr>
      	    	    <tr>
      	    	    	<td>Lname</td>
      	    	    	<td><input type="text" name="Lname"></td>
      	    	    </tr>
      	    	    <tr>
      	    	    	<td>Email</td>
      	    	    	<td><input type="text" name="Email"></td>
      	    	    </tr>
                  <tr>
                    <td>Phone</td>
                    <td><input type="text" name="Phone"></td>
                  </tr>
      	    	    <tr>
      	    	    	<td align="center" colspan="2"><input type="submit" name="btn" value="Register"></td>
      	    	    </tr>
      	    </table>
      </form>
</body>
</html>